body {
  font-family: Arial;
  background: #dfffd8;
  padding: 20px;
}

#taskBox {
  margin-top: 20px;
}

.taskItem {
  display: flex;
  gap: 10px;
  margin-bottom: 8px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

button {
  cursor: pointer;
}
